test/chrY/methyl.bed filter=lfs diff=lfs merge=lfs -text
test/chrY/sat_annot.bed filter=lfs diff=lfs merge=lfs -text
test/chrY/stv.bed filter=lfs diff=lfs merge=lfs -text
test/chrY/stv_ort.bed filter=lfs diff=lfs merge=lfs -text
test/chrY/cdrs.bed filter=lfs diff=lfs merge=lfs -text
test/chrY/ident.bed filter=lfs diff=lfs merge=lfs -text
test/chr1/ident.bed filter=lfs diff=lfs merge=lfs -text
test/chr1/sat_annot.bed filter=lfs diff=lfs merge=lfs -text
test/chr1/stv_row.bed filter=lfs diff=lfs merge=lfs -text
test/chr1/cdrs.bed filter=lfs diff=lfs merge=lfs -text
test/cdr/HG02953_cov.bed filter=lfs diff=lfs merge=lfs -text
test/cdr/HG02953_cov_methyl.bed filter=lfs diff=lfs merge=lfs -text
test/cdr/HG02953_rm.bed filter=lfs diff=lfs merge=lfs -text
test/cdr/HG02953_avg_methyl.bed filter=lfs diff=lfs merge=lfs -text
test/cdr/HG02953_cdr.bed filter=lfs diff=lfs merge=lfs -text
examples/hor/stv.bed filter=lfs diff=lfs merge=lfs -text
examples/self_ident/ident.bed filter=lfs diff=lfs merge=lfs -text
examples/bar_label/avg_methyl.bed filter=lfs diff=lfs merge=lfs -text
examples/bar_label/cdr.bed filter=lfs diff=lfs merge=lfs -text
examples/local_self_ident/ident.bed filter=lfs diff=lfs merge=lfs -text
examples/strand/ort.bed filter=lfs diff=lfs merge=lfs -text
examples/line/first.bed.gz filter=lfs diff=lfs merge=lfs -text
examples/line/second.bed.gz filter=lfs diff=lfs merge=lfs -text
